.radioGroup-collections .MuiRadio-root{color: #D2D2D2;}
.allianceCode-Table {
    margin-left: 21px !important;
    margin-top: 12px !important;
}
.allianceFormContainer .MuiCheckbox-root{color: #D2D2D2;}