.AddNew_width{min-width:86px;padding-left:15px;padding-right:15px}
.Udf_buttons{min-width:86px;padding-left:15px;padding-right:15px}
.la.la-pen{border: 2px solid #fff;
    border-radius: 50%;
    padding: 5px;
background-color: #fff;}
    .udf_tabs{width: 109px;
        height:24px;
        border-Bottom:2px solid #231EDC;
        right:4px
    }
 .select_dropdown_options{width: 125;
    color:#231EDC;font-weight: 700;} 
    span.MuiSwitch-root.MuiSwitch-sizeSmall.ToggleSwitchButton.css-1ycxvqq-MuiSwitch-root{width: 36px;height:24px} 
    .ToggleSwitchButton span.css-jsexje-MuiSwitch-thumb{width: 17px;
        height: 17px;border: 1px solid #444444;} 
    .ToggleSwitchButton span.css-1yjjitx-MuiSwitch-track{border: 1px solid #444444;
        background-color: transparent;
        padding: 8px;
        margin-top: -3px;
        padding-right: 19px;
    }
    .Close-Primary-buttons{background-color:#231EDC}
    
    
     